* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: cadetblue;
    height: 100px;
}

header h1 {
    color: aliceblue;
}

main {
    flex-grow: 1;
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: sticky;
}

footer li{
    display: inline-flex;
    padding: 10px;
}

.carrito {
    list-style: decimal;
    text-align: center;
}

.listaBotones {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.total {
    display: flex;
    justify-content: center;
}

.importe {
    display: flex;
    justify-content: center;
}

button {
    background-color: #2532ec;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#listado{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

#listado li {
    padding: 10px;
}

.imagen{
    width: 150px;
    height: 150px;
}

#carrito{
    text-align: center;
    border: 2px;
    border-color: #2532ec;
}